body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  padding: 30px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu {
  display: flex;
}

.menu li {
  padding: 5px 5px 5px 0;
}

a {
  text-decoration: none;
}

input {
  padding: 8px;
  font-size: 18px;
}

button {
  margin: 5px 5px 5px 0;
  padding: 6px;
}

.results {
  /* padding: 10px; */
}

.results > div {
  margin-bottom: 12px;
}
